# Data Science Tools and Ecosystem

## In this Notebook,Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sql

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scipy
6. Scikitlearn

|Data Science Tools|
|-------------|
|Jupyter Notebook|
|Zeppelin Notebook|
|R Studio's|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5.
#This a simple arithmetic expression to mutiply then add integers.

17.0

In [4]:
total_min=200
hour=total_min//60
minu=total_min%60
print(hour,':',minu,"hours")
#This will convert 200 minutes to hours by diving by 60.

3 : 20 hours

__Objectives:__
+ List popular languages for Data Science.
+ list of commonly used libraries for Data Science. 
+ list of Data Science tools.
+ A simple arithmetic expression to mutiply then add integers.
+ convert 200 minutes to hours by diving by 60.
+ objectives.

## Author
Sanjay Kumar S